<h1>Create your new profile</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
  <h2>Name and Location</h2>

  <div class="row">
    <div class="col-lg-6">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" [ngClass]="" id="firstName" formControlName="firstName" placeholder="First Name">
    </div>
    <div class="col-lg-6">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name">
    </div>
  </div>

  <h2>Work Experience</h2>

  <h2>Skills</h2>

  <button class="btn btn-primary" type="submit" [disabled]="profileForm.invalid">Save Profile</button>

</form>

<p>Form value: {{ profileForm.value | json }}</p>
<p>Form status: {{ profileForm.status | json }}</p>
