<div *ngIf="!bookmarks && !applications">Loading...</div>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Job Title</th>
      <th>Job Description</th>
      <th>Company Name</th>
      <th *ngIf="applications">Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of data">
      <td>{{value.JobPost.Job.Title}}</td>
      <td>{{value.JobPost.Job.Description}}</td>
      <td>{{value.JobPost.Company.Name}}</td>
      <td *ngIf="applications">{{value.Status}}</td>
      <td><button type="submit" class="btn w3-teal" (click)="viewJob(value.JobPost.JobPostID)">View</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
</table>

