<table class="w3-table-all">
  <thead>
    <tr>
      <th>JobPostID</th>
      <th>Job Description</th>
      <th>Company Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobApplications">
      <td>{{job.JobPostID}}</td>
      <td>{{job.JobPost.job.Description}}</td>
      <td>{{job.JobPost.Company.Name}}</td>
      <td>{{job.Status}}</td>
      <td><button type="submit" (click)="viewJob(job.JobPostID)">View</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
</table>
