<table class="w3-table-all">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Job Description</th>
      <th>Company Name</th>
      <th *ngIf="showStatus">Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobApplications">
      <td>{{job.JobPost.Job.Title}}</td>
      <td>{{job.JobPost.Job.Description}}</td>
      <td>{{job.JobPost.Company.Name}}</td>
      <td *ngIf="showStatus">{{job.Status}}</td>
      <td><button type="submit" (click)="viewJob(job.JobPost.JobPostID)">View</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
</table>
