
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column ">
            <li class="nav-item">
              <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="w3-teal" routerLink='/employee/dashboard'>Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="w3-teal" routerLink='/employee/dashboard/profile'>Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="w3-teal" routerLink='/employee/dashboard/applications'>Applications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="w3-teal" routerLink='/employee/dashboard/bookmarks'>Bookmarks</a>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

          <router-outlet></router-outlet>

        </main>
      </div>
    </div>

