<nav class="navbar navbar-expand-md navbar-dark w3-black fixed-top w3-text-white">
  <a class="nav-link" class="navbar-brand" routerLink="/">{{title}}</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav mr-auto float-right">
    <li class="nav-item" *ngIf="!authService.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/register">
        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
        Sign Up</a>
    </li>
    <li class="nav-item" *ngIf="!authService.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/login">
        <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Login</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/profile">
        <i class="fa fa-user" aria-hidden="true"></i>
        Profile</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn()">
      <a class="nav-link" routerLink="/login" (click)="logout()">
        <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
        Logout</a>
    </li>
  </ul>
</nav>
