<div *ngIf="!user">
  Loading...
</div>
<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="container position-relative px-0">
            <img src="{{profileImg}}" alt="Profile Image" class="card-img-top">
            <h2 class="position-absolute text-dark ml-2" style="bottom:-5%;">{{user.FirstName}} {{user.LastName}}</h2>
        </div>
        <div class="card-body">
            <p><i class="fa fa-briefcase fa-fw mr-1 w3-large w3-text-teal"></i>Developer</p>
            <p><i class="fa fa-home fa-fw mr-1 w3-large w3-text-teal"></i>{{convertAddressToString(user.Address)}}</p>
            <p><i class="fa fa-envelope fa-fw mr-1 w3-large w3-text-teal"></i>{{user.Email}}</p>
            <p><i class="fa fa-phone fa-fw mr-1 w3-large w3-text-teal"></i>{{user.Phone}}</p>
            <hr>

            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw mr-1 w3-text-teal"></i>Skills</b></p>
            <div *ngFor="let skill of user.UserSkills">
              <p>{{skill.Skill.Name}}</p>
              <div class="progress" [ngStyle]="{'border-radius':'16px'}">
                <div class="progress-bar w3-teal" role="progressbar"
                [ngStyle]="{
                  'width': (skill.Skill.YearsExperience * 10) + '%',
                  'border-radius': '16px'
                }"
                  aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{skill.Skill.YearsExperience * 10}}%</div>
              </div>
            </div>


        </div>
      </div>
    </div>
    <div class="col-md-8">

    </div>
  </div>
</div>
