<h2>
  Login Form</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username">
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger fade in">
        <div *ngIf="username.errors.required">
            Username is required.
          </div>
    </div>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" formControlName="password" placeholder="Enter password">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger fade in">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Password should not be less than 8 characters.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
  <div *ngIf="!success" class="alert alert-danger">{{error}}</div>
</form>
<p>Form value: {{ loginForm.value | json }}</p>
<p>Form status: {{ loginForm.status | json }}</p>
