<div *ngIf="applicants && isEmpty()">
    <h3>No Applicants</h3>
</div>

  <table class="table table-bordered table-hover" *ngIf="applicants && !isEmpty()">
    <thead class="table-primary">
      <tr>
        <th>Id</th>
        <th>User Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let applicant of applicants">
        <td>{{applicant.JobApplicationID}}</td>
        <td>{{applicant.UserID}}</td>
        <td>{{applicant.User.FirstName}} {{applicant.User.LastName}}</td>
        <td>{{applicant.Status}}</td>
        <td><button type="button" class="btn btn-default w3-teal"
          routerLink="/company/dashboard/applications/{{applicant.JobApplicationID}}/applicant/{{applicant.UserID}}">View Applicant</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
  <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
