<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column ">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="w3-teal" routerLink='/company/dashboard'><i class="fa fa-tachometer"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="w3-teal"
          routerLink='/company/dashboard/profile'><i class="fa fa-user"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="w3-teal"
          routerLink='/company/dashboard/jobpost'><i class="fa fa-file-text"></i> Job Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="w3-teal"
            routerLink='/company/dashboard/job-applications'><i class="fa fa-file-text"></i> Job Applicants</a>
          </li>
      </ul>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

      <router-outlet></router-outlet>

    </main>
  </div>
</div>
