
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column ">
            <li class="nav-item w3-hover-light-blue">
              <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="w3-teal" routerLink='/dashboard'>Dashboard</a>
            </li>
            <li class="nav-item w3-hover-light-blue">
              <a class="nav-link" routerLinkActive="w3-teal" routerLink='/dashboard/profile'>Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Dashboard</h1>
          <!-- <ul class="list-group">
            <li class="list-group-item list-group-item-action text-left">
              Recommended Jobs
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item list-group-item-action text-left">
              Bookmarked Jobs
              <span class="badge badge-primary badge-pill">5</span>
            </li>
            <li class="list-group-item list-group-item-action text-left">
              Job Applications
              <span class="badge badge-primary badge-pill">3</span>
            </li>
          </ul> -->
          <router-outlet></router-outlet>

        </main>
      </div>
    </div>

